### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [3]:
total_players = purchase_data.loc[:,["SN", "Gender", "Age"]]
total_players = total_players.drop_duplicates()

total_players_info =total_players.count()[0]

total_players_info

pd.DataFrame({"Total # of Players":  [total_players.count()[0]]})

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_dataClean = purchase_data[["Item Name", "Price", "SN", "Gender", "Age", "Item ID"]]

purchase_unique = len(purchase_dataClean["Item ID"].unique())

av_price = purchase_dataClean["Price"].mean()

total_purchase_val = purchase_dataClean["Price"].sum()

purchase_count = purchase_dataClean["Item ID"].count()

pd.DataFrame({"Average Price": [purchase_dataClean["Price"].mean()], 
              "Total Purchase Value": [purchase_dataClean["Price"].sum()],
              "Purchase Count": [purchase_dataClean["Item ID"].count()]
             })

#print("Total # Unique Items = " + str(purchase_unique))
#print("Average Purchase Price = $" + str(av_price))
#print("Total Purchase Value = $" + str(total_purchase_val))
#print("Purchase Count = " + str(purchase_count))
#purchase_dataClean.head()

   Average Price  Total Purchase Value  Purchase Count
0       3.050987               2379.77             780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
female_players = purchase_data.loc[purchase_data["Gender"] == "Female", ["SN", "Gender"]].drop_duplicates()
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", ["SN", "Gender"]].drop_duplicates()
other_players = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["SN", "Gender"]].drop_duplicates()



#female_players
#male_players
#other_players

               SN                 Gender
9     Chanosian48  Other / Non-Disclosed
22   Siarithria38  Other / Non-Disclosed
82     Haerithp41  Other / Non-Disclosed
111      Sundim98  Other / Non-Disclosed
228   Jiskirran77  Other / Non-Disclosed
237     Idairin51  Other / Non-Disclosed
242     Eodaisu60  Other / Non-Disclosed
350     Rairith81  Other / Non-Disclosed
401      Lirtim36  Other / Non-Disclosed
549    Maluncil97  Other / Non-Disclosed
637        Airi27  Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_count = purchase_data["Gender"].value_counts()

gender_percent = (gender_count / purchase_count) * 100

gender_analysis = pd.DataFrame({"Purchase Count by Gender": gender_count,
              "Percentage of Purchases by Gender": gender_percent,
             
             })

gender_analysis

,Purchase Count by Gender,Percentage of Purchases by Gender
Male,652,83.589744
Female,113,14.487179
Other / Non-Disclosed,15,1.923077

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame